.container {
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.main {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.9rem;
}

.footer {
  border-top: 2px solid #000;
  padding-top: 20px;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}
